div, li, ul {
  margin: 0;
  padding: 0;
}

ul.board {
  width: 400px;
  list-style-type: none;
  margin: 100px auto;
  border: 50px #758BEF solid;
  overflow: auto;
}

div.game {
  margin: auto;
  text-align: center;
}

li {
  height: 50px;
  width: 50px;
  font-size: 40px;
  float: left;
  text-align: center;
}

li.dark {
  background-color: grey;
}

li.highlight-light {
  background-color: #FF8D8D;
}

li.highlight-dark {
  background-color: #FF2E2E;
}
